@charset "UTF-8";
*{
    margin: 0px;
}
header{
    background-color: blue;
    text-align: center;
}
main{
    background-color: lavender(230, 230, 255);
    width: 300px;
    height: auto;
    margin: auto;
}
/* nao funciona co formato png */
section.imag1.figure.01{
    margin: 0 auto 0 auto;
        width: 2px;
        height: auto;
}
img{
    width: 300px;
}

