@charset "UTF-8";
*{
    margin: 0px;
}
header{
    background-color: antiquewhite;
    text-align: center;
}
main{
    
    background-color: bisque;
    width: 300px;
    height: auto;
    margin: auto;
}
section.imag1>div{
    margin: auto;
    width:70%;
    height:200px;
    background-image: url(imag/mae\ do\ crack.png);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
section.imag1{
    /* background-color: brown; */
}
section.imag2>div{
    margin: auto;
    width:70%;
    height:200px;
    background-image: url(imag/li01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
section.imag3>div{
    margin: auto;
    width:70%;
    height:200px;
    background-image: url(imag/ta\ livre.png);
    background-repeat: no-repeat;
    background-size: 100%;
}section.imag4>div{
    margin: auto;
    width:70%;
    height:200px;
    background-image: url(imag/internet.png);
    background-repeat: no-repeat;
    background-size: 100%;
}section.imag5>div{
    margin: auto;
    width:70%;
    height:200px;
    background-image: url(imag/sobremesas.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


